.first-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:aqua;
}

.second-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:aquamarine;
}

.table {
  width: 100%;
}

.list {
  background: azure;
  padding: 20px;
}

.colored-text {
  color: blueviolet;
}
